<html>

<head>
    <style type="text/css">
        h1 {
            font-family: Calibri, Sans-Serif;
        }

        h2 {
            font-family: Calibri, Sans-Serif;
            color: darkblue;
        }

        code {
            background: #dddddd;
            display: block
        }
    </style>
    <title>GSE</title>
</head>

<body>
    <h1>HTTP request</h1>
    <h2>Method, Host, URL and Protocol</h2>
    <code>
        Method={{.Method}}
        <br> Host={{.Host}}
        <br> URL={{.Url}}
        <br> Proto={{.Proto}}
        <br>
    </code>

    <h2>HTTP Headers received</h2>

    <code>
            {{range .HeaderOutput}}{{ . }}<br>{{end}} 
    </code>

    <h2>Body of the Request (for methods PUT, POST, ...)</h2>
    <code>
        {{.BodyOutput}}
    </code>

    <h1>ENV</h1>
    <code>
        {{range .EnvOutput}}{{ . }}<br>{{end}} 
    </code>


</body>

</html>